* {
  margin: 0;
  padding: 0;
  box-sizing: none;
  font-family: "Space Grotesk", sans-serif;
  background-color: rgb(21, 21, 21);
}

header img:first-of-type {
  position: absolute;
  left: 112px;
  padding: 20px;
}
header img:nth-of-type(2) {
  width: 200px;
  margin-left: 112px;
}
header .hero__text {
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-self: center;
  gap: 20px;
}
header h1 {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}
header h1 .underline {
  position: relative;
  display: inline-block;
}
header h1 .underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #4EE1A0;
  transform: translateY(8px);
}
header p {
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  color: #D9D9D9;
  line-height: 26px;
}
header .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.29px;
  text-decoration-color: #4EE1A0;
  text-decoration-thickness: 4px;
  text-underline-offset: 4px;
  padding-bottom: 20px;
}

section.skills {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
section.skills div.skill {
  text-align: center;
}
section.skills div.skill h3 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: bold;
}
section.skills div.skill p {
  color: #D9D9D9;
  font-size: 16px;
  font-weight: 100;
}

.projects .projects-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 25px;
}
.projects h2 {
  color: #FFFFFF;
  font-size: 40px;
}
.projects .btn {
  color: #FFFFFF;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2.29px;
  text-decoration-color: #4EE1A0;
  text-decoration-thickness: 4px;
  text-underline-offset: 11px;
  font-weight: bold;
}
.projects .projects-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.projects .projects-grid article {
  margin-bottom: 40px;
}
.projects .projects-grid article h3 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}
.projects .projects-grid article p {
  font-size: 18px;
  color: #D9D9D9;
  margin-bottom: 13px;
}
.projects .projects-grid article a.btn {
  color: #FFFFFF;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2.29px;
  text-decoration-color: #4EE1A0;
  text-decoration-thickness: 2px;
  text-underline-offset: 13px;
}
.projects .projects-grid article a:nth-of-type(2) {
  margin-left: 10px;
}

hr {
  margin-left: 10px;
  margin-right: 10px;
  color: #D9D9D9;
}

section.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  gap: 10px;
}
section.contact h2 {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: bold;
  background-color: #242424;
}
section.contact p {
  color: #D9D9D9;
  text-align: center;
  background-color: #242424;
}
section.contact .formulario {
  width: 380px;
  background-color: #242424;
  height: 302px;
}
section.contact label {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D9D9D9;
  background-color: #242424;
}
section.contact input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  color: #FFFFFF;
  font-size: 16px;
  outline: none;
  background-color: #242424;
}
section.contact input:nth-of-type(3) {
  padding-bottom: 45px;
}
section.contact button {
  text-decoration: underline;
  border: none;
  font-size: 20px;
  color: white;
  margin-top: 25px;
  margin-left: 233px;
  text-decoration-color: #4EE1A0;
  text-decoration-thickness: 2px;
  text-underline-offset: 13px;
  background-color: #242424;
  text-transform: uppercase;
}

hr:last-of-type {
  margin-top: 85px;
  margin-bottom: 35px;
  color: #D9D9D9;
}

footer {
  padding-top: 30px;
  background-color: #242424;
}
footer img {
  background-color: #242424;
  margin-left: 112px;
  padding: 30px 0;
}

/*# sourceMappingURL=main.css.map */
