$breakpoint-mobile: 0px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$black-color: rgb(21,21,21);  
$green-color: #4EE1A0;
$black-light: #242424;
$gray-color: #D9D9D9;
$white-color: #FFFFFF;


$font-primary: 'Space Grotesk', sans-serif;

